@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <!--[if lt IE 9]>
    <div class="ie_warning"><div>Forever21.com is not optimized for Internet Explorer 8. <br/>Use another browser or upgrade here: <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank" class="t_pink underline">http://windows.microsoft.com/en-us/internet-explorer/download-ie</a></div></div>
    <![endif]-->
    <title>Influencer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="Forever21">
    <meta name="apple-mobile-web-app-title" content="Influencer">
    <meta name="Description" content="Forever21.com offers the most current fashions for women and men.  Shop Forever21.com and find the best selection of fashion tops, dresses, denim, shoes, accessories, jewelery, lingerie, 21 special items, and more!">
    <meta name="Keywords" content="clothes, clothing, apparel, casual tops, dressy tops, basics, skirts, dress, dresses, sale, fashion, cheap, tees, tank tops, graphics, shirts, pants, jeans, shorts, sweaters, outerwear, jackets, tops, bottoms, skirts, shoes, halter, tube top, denim, jewelery, accessories, rings, necklaces, underwear, mens, womens, woman, junior fashion, xxi, forlove, gadzooks, womens apparel, intimate, handbags, sunglasses, hats, scarves, hair goods, earrings">
    <link rel="shortcut icon" href="http://www.forever21.com/images/en/common/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="http:http://www.forever21.com/images/en/common/apple-touch-icon-144x144-precomposed.png">
    <link rel="stylesheet" type="text/css" href="./../resource/css/bp_style.css">
    <link rel="stylesheet" type="text/css" href="./../resource/css/bp_image.css">
    <script type="text/javascript" src="./../resource/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="./../resource/js/f21_js.js"></script>
    <script type="text/javascript" src="./../resource/js/owl.carousel.js"></script>
    <script type="text/javascript" src="./../resource/js/jquery.flex-modal.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui.js"></script>
    <script type="text/javascript" src="./../resource/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="./../resource/js/common.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Scripts/additional-methods.min.js"></script>
    
</head>

<body>
    <span class="scrollToTop t_bold"></span>
    <!-- Loading S -->
    <div class="loading" style="display: none;"><span><img src="./../resource/images/loading.gif"></span></div>
    <!-- Loading E -->
    <!-- QuickView Slide S -->
    <div class="desktop_overlay top_type2"></div>
    <div id="quickview_slide">
        <div class="r_container top_type2">
            <!-- open -->
            <span class="icon_close"></span>
            <div class="quick col_s_9_of_10 col_m_9_of_12 col_l_12_of_16 fc">
                <!-- Product S -->
                <div class="ttl_header t_bold pb_10 pt_20 "><label id="lb_p_title">SELECT CHARACTER</label></div>
                <div class="ws_100 row pt_20 pb_20 row_3 my_pic">
                    <div>
                        <a href="#" onclick="fnSelectPhotoUrl('/resource/images/profile_smiley.png')"><img src="./../resource/images/profile_smiley.png" alt="customer" /></a>
                    </div>
                    <div>
                        <a href="#" onclick="fnSelectPhotoUrl('/resource/images/profile_female.png')"><img src="./../resource/images/profile_female.png" alt="customer" /></a>
                    </div>
                    <div>
                        <a href="#" onclick="fnSelectPhotoUrl('/resource/images/profile_male.png')"><img src="./../resource/images/profile_male.png" alt="customer" /></a>
                    </div>
                </div>
                <form>
                    <div class="t_bold bt_gray row ws_100">
                        <a href="#" class="fc row pt_20 pb_20" onclick="openDialog();">Choose a file from desktop</a>
                        <input name="uploadFile" id="characteruploadFile" type="file" style="display:none;" accept="image/gif, image/jpeg,  image/jpg,  image/png" onchange="chk_file_type(this)"/>
                    </div>
                </form>
                    <div class="t_bold bt_gray row ws_100">
                        <a href="#" class="fc row pt_20 pb_20">Choose a file from dropbox</a>
                    </div>
                    <!-- Product E -->
</div>
        </div>
    </div>
    <!-- QuickView Slide E -->
    <!-- Center Container S -->
    <div class="c_container">
        <div class="mobile_overlay"></div>
        <header>
            <!-- Desktop Preheader Menu S -->
            <div class="pre_header bg_black row container">
                <!-- Global Bar S -->
                <div class="col_s_10_of_10 col_m_12_of_12 col_l_16_of_16 g_bar">
                    <p class="show_desktop txc"><a href="#">2 DAY FREE SHIPPING FOR OUR INFLUENCERS</a></p>
                    <p class="show_mobile txc"><a href="#">2 DAY FREE SHIPPING FOR OUR INFLUENCERS</a></p>
                </div>
                <!-- Global Bar E -->
            </div>
            <!-- Desktop Preheader E -->
            <!-- Mobile Header S -->
            <div class="m_header row container show_both txc">
                <div class="f21_logo"><a href="/"><span class="logo left"></span></a></div>
                <!-- Secondary Menu S -->
                <div class="nav_secondary right">
                    <div class="floating right top fr txc">
                        <!-- Shop Now S -->
                        <a href="http://www.forever21.com" target="_blank">
                            <div class="shop_icon sh_rt">
                                <p class="t_res">SHOP NOW</p>
                            </div>
                        </a>
                        <!-- Shop Now E -->
                    </div>
                </div>
            </div>
            <!-- Mobile Header E -->
            <!-- Desktop Header S -->
            <div class="d_header row container show_desktop txc">
                <div class="f21_logo"><a href="/"><span class="logo left"></span></a></div>
                <div class="floating right top fr txc">
                    <!-- Shop Now S -->
                    <a href="http://www.forever21.com" target="_blank">
                        <div class="shop_icon sh_rt">
                            <p class="t_res">SHOP NOW</p>
                        </div>
                    </a>
                    <!-- Shop Now E -->
                </div>
            </div>
            <!-- Desktop Header E -->
        </header>

        <main role="main">
            <form  method="POST" id="register-form" class="smart-form client-form">
                <div id="main">
                    <!-- Top Visual Container S -->
                    <div class="container con_container" id="topVisual">
                        <!-- Top Visual Text S -->
                        <div class="container row fc pt_20 txc wmx_800">
                            <div class="t_bold pb_20">
                                <p class="t_large pb_10 container">Forever21 X You!</p>
                                <p class="ttl_header">Welcome to the Forever21 influencer portal!<br>Here you can shop and share all of the trends you love! </p>
                            </div>
                        </div>
                        <!-- Top Visual Text E -->
                    </div>
                    <!--  Top Visual Container E -->
                    <!-- Registration Container S -->
                    <div class="container row con_container fc clearfix wmx_800">
                        <!-- regluar_content S -->
                        <div class="col_s_10_of_10 col_m_12_of_12 col_l_16_of_16 regluar_content">
                            <!-- My Profile S -->
                            <!-- Desktop profile img S -->
                            <input id="forever21Id" name="forever21Id" type="hidden" value=""  required="required"/>
                            <div class="col_l_3_of_16 my_pic pb_20 fl txc show_desktop" style="cursor:pointer;">
                                <img src="./../resource/images/profile_smiley.png" style="width:100px; height:100px;" id="userPhoto" name="userPhoto">
                                <span class="icon_pencil"></span>
                            </div>
                            <!-- Desktop profile img E -->
                            <!-- Mobile profile img S -->
                            <div class="col_m_3_of_12 col_s_10_of_10 my_pic pb_20 pt_20 fl txc show_both ">
                                <div class="txc col_m_3_of_12 col_s_10_of_10">
                                    <img src="./../resource/images/profile_smiley.png" style="width:100px; height:100px;" id="userPhotoMo" name="userPhotoMo">
                                    <span class="icon_pencil"></span>
                                </div>
                            </div>
                            <!-- Mobile profile img E -->
                            <div class="col_s_10_of_10 col_m_8_of_12 col_l_12_of_16 fr pb_20">
                                <!-- Create Account S -->
                                <div class="txlc pb_20 col_s_10_of_10 col_m_9_of_12 col_l_10_of_16">
                                    <fieldset>
                                        <div class="ttl_header txc t_bold divided_line"><span>CREATE AN ACCOUNT</span></div>
                                        <p class="t_res txr pb_10">* Required</p>
                                        <span class="input_label">
                                            <span class="icon_delete"></span>
                                            <input type="text" name="firstname" id="firstname" maxlength="32" required="required">
                                            <label>FIRST NAME *</label>
                                        </span>
                                        <span class="input_label">
                                            <span class="icon_delete"></span>
                                            <input type="text" name="lastname" id="lastname" maxlength="32" required="required">
                                            <label>LAST NAME *</label>
                                        </span>
                                        <span class="input_label">
                                            <button class="bg_gray btn_small inline fr" onclick="fnForever21ID(); return false;">CHECK ID</button>
                                            @*<span class="icon_delete"></span>*@
                                            <input type="email"  name="email"  id="email" maxlength="40" required="required">
                                            <label>EMAIL ADDRESS *</label>
                                        </span>
                                        <span class="input_label">
                                            <button class="bg_gray btn_small inline fr" onclick="fnClickShowPW(event, 'SHOW', 'HIDE', '#password', '#passwordConfirm'); return false;">SHOW</button>
                                            <input type="password" name="password" id="password" maxlength="14" required="required">
                                            <label>PASSWORD *</label>
                                        </span>
                                        <span class="input_label">
                                            <input type="password" name="passwordConfirm" maxlength="14" id="passwordConfirm" required="required">
                                            <label>COFIRM PASSWORD *</label>
                                        </span>
                                        <span class="input_label">
                                            <input type="text" name="phoneNo" id="phoneNo" maxlength="32" required="required">
                                            <label>PHONE NUMBER + *</label>
                                        </span>
                                        <span class="input_label">
                                            <input type="text" name="instagramId" id="instagramId"  maxlength="32" value=""  required="required">
                                            <label>INSTAGRAM * </label>
                                        </span>
                                        <span class="input_label textfield">
                                            <textarea cols="45" rows="5" class="ws_100" id="aboutMe" name="aboutMe"></textarea>
                                            <label>ABOUT ME(OPTION)</label>
                                        </span>
                                        
                                    </fieldset>
                                    <fieldset>
                                        <p class="t_res pb_10">Write a short description about yourself so we know a little more about you!</p>
                                        <button class="bg_black ws_100 btn_mid" type="submit">REGISTER</button>
                                    </fieldset>
                                </div>
                                <!-- Create Account E -->
                            </div>
                            <!-- My Profile E -->
                        </div>
                        <!-- regluar_content E -->
                    </div>
                    <!-- Registration Container E -->
                </div>
            </form>
        </main>

       @{ Html.RenderPartial("_LoginFooter"); }
    </div>

    <script src="./../resource/js/jquery.val.custom.js"></script>

    <script type="text/javascript">

        function fnForever21ID() {
            $('#forever21Id').val("{2b84a5ba-120f-4705-8d4d-c006cd3d6f21}");
        };

        $(document).ready(function () {
        
            $("#register-form").validate({
                
                submitHandler: function () {
                    if ($('#forever21Id').val() == "") {
                        alert("Please Check ID")
                    }
                    else {

                        $('.loading').show();

                        jQuery.support.cors = true;
                        $.ajax({
                            url: '/api/account/regist',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                USER_EMAIL: $('#email').val(),
                                USER_PASS : $('#password').val(),
                                FIRST_NM: $('#firstname').val(),
                                LAST_NM: $('#lastname').val(),
                                PHONE_NO: $('#phoneNo').val(),
                                INSTAGRAM_ID: $('#instagramId').val(),
                                FOREVER21_ID: $('#forever21Id').val(),
                                PHOTO_URL: $('#userPhoto').attr("src"),
                                ABOUT_ME: $('#aboutMe').val(),
                            },
                            success: function (data) {
                                if (data > 0) {
                                    alert("success");
                                    location.href="/account/thankyou";
                                }
                                else {
                                    alert("regist error");
                                }
                            },
                            error: function () {
                                alert('webservice error');
                            }
                        });
                    }

                    //form.submit();
                },

                rules: {

                    firstname: {
                        required: true
                    },

                    lastname: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                 
                    password: {
                        required: true,
                        minlength: 7,
                        maxlength: 14
                    },
                    passwordConfirm: {
                        required: true,
                        minlength: 7,
                        maxlength: 14,
                        equalTo: '#password'
                    },
                    phoneNo: {
                        required: true
                    },
                    instagramId: {
                        required: true
                    }
                   
                },

                // Messages for form validation
                messages: {
                    firstname: {
                        required: 'Please enter your first name'
                    },

                    lastname: {
                        required: 'Please enter your last name'
                    },

                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                  
                    password: {
                        required: 'Please enter your password',
                        minlength : "Between 7 and 14 characters PASSWORD",
                        maxlength : "Between 7 and 14 characters PASSWORD"
                    },
                    passwordConfirm: {
                        required: 'Please enter your password one more time',
                        equalTo: 'Please enter the same password as above'
                    },

                    phoneNo: {
                        required: 'Please enter your phone number'
                    },

                    instagramId: {
                        required: 'Please enter your Instagram Id'
                    }

                    
                },


            });
        });
    </script>

    <script  type="text/javascript" src="./../resource/js/f21.upload.character.js"></script>

</body>


</html>