
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <!--[if lt IE 9]>
    <div class="ie_warning"><div>Forever21.com is not optimized for Internet Explorer 8. <br/>Use another browser or upgrade here: <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank" class="t_pink underline">http://windows.microsoft.com/en-us/internet-explorer/download-ie</a></div></div>
    <![endif]-->
    <title>Influencer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="Forever21">
    <meta name="apple-mobile-web-app-title" content="Influencer">
    <meta name="Description" content="Forever21.com offers the most current fashions for women and men.  Shop Forever21.com and find the best selection of fashion tops, dresses, denim, shoes, accessories, jewelery, lingerie, 21 special items, and more!">
    <meta name="Keywords" content="clothes, clothing, apparel, casual tops, dressy tops, basics, skirts, dress, dresses, sale, fashion, cheap, tees, tank tops, graphics, shirts, pants, jeans, shorts, sweaters, outerwear, jackets, tops, bottoms, skirts, shoes, halter, tube top, denim, jewelery, accessories, rings, necklaces, underwear, mens, womens, woman, junior fashion, xxi, forlove, gadzooks, womens apparel, intimate, handbags, sunglasses, hats, scarves, hair goods, earrings">
    <link rel="shortcut icon" href="http://www.forever21.com/images/en/common/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="http:http://www.forever21.com/images/en/common/apple-touch-icon-144x144-precomposed.png">
    <link rel="stylesheet" type="text/css" href="./../resource/css/bp_style.css">
    <link rel="stylesheet" type="text/css" href="./../resource/css/bp_image.css">
    <script type="text/javascript" src="./../resource/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="./../resource/js/f21_js.js"></script>
    <script type="text/javascript" src="./../resource/js/owl.carousel.js"></script>
    <script type="text/javascript" src="./../resource/js/jquery.flex-modal.js"></script>
</head>
<body>
    <span class="scrollToTop t_bold"></span>
    <!-- Loading S -->
    <div class="loading" style="display: none;"><span><img src="./../resource/images/loading.gif"></span></div>
    <!-- Loading E -->
    <!-- Center Container S -->
    <div class="c_container">
        <div class="mobile_overlay"></div>
        <header>
            <!-- Desktop Preheader Menu S -->
            <div class="pre_header bg_black row container">
                <!-- Global Bar S -->
                <div class="col_s_10_of_10 col_m_12_of_12 col_l_16_of_16 g_bar">
                    <p class="show_desktop txc"><a href="#">2 DAY FREE SHIPPING FOR OUR INFLUENCERS</a></p>
                    <p class="show_mobile txc"><a href="#">2 DAY FREE SHIPPING FOR OUR INFLUENCERS</a></p>
                </div>
                <!-- Global Bar E -->
            </div>
            <!-- Desktop Preheader E -->
            <!-- Mobile Header S -->
            <div class="m_header row container show_both txc">
                <div class="f21_logo"><a href="/"><span class="logo left"></span></a></div>
                <!-- Secondary Menu S -->
                <div class="nav_secondary right">
                    <div class="floating right top fr txc">
                        <!-- Shop Now S -->
                        <a href="http://www.forever21.com" target="_blank">
                            <div class="shop_icon sh_rt">
                                <p class="t_res">SHOP NOW</p>
                            </div>
                        </a>
                        <!-- Shop Now E -->
                    </div>
                </div>
            </div>
            <!-- Mobile Header E -->
            <!-- Desktop Header S -->
            <div class="d_header row container show_desktop txc">
                <div class="f21_logo"><a href="/"><span class="logo left"></span></a></div>
                <div class="floating right top fr txc">
                    <!-- Shop Now S -->
                    <a href="http://www.forever21.com" target="_blank">
                        <div class="shop_icon sh_rt">
                            <p class="t_res">SHOP NOW</p>
                        </div>
                    </a>
                    <!-- Shop Now E -->
                </div>
            </div>
            <!-- Desktop Header E -->
        </header>

        <main role="main">
            <div id="main">
                <!-- Top Visual Container S -->
                <div class="container con_container" id="topVisual">
                    <!-- Top Visual Text S -->
                    <div class="container row fc pt_20 txc wmx_800">
                        <div class="t_bold pb_20">
                            <p class="t_large pb_10 container">Forever21 X You!</p>
                            <p class="ttl_header">Welcome to the Forever21 influencer portal!<br>Here you can shop and share all of the trends you love! </p>
                        </div>
                    </div>
                    <!-- Top Visual Text E -->
                </div>
                <!--  Top Visual Container E -->
                <!-- Thank You Content S -->
                <div class="container row con_container" id="space">
                    <div class="container fc clearfix wmx_800 t_bold txc">
                        <p class="hp_title pt_20 pb_20">THANK YOU FOR REGISTERING!</p>
                        <p class=" pb_20">Thank you for registering to become a part og Forever21's influencer Program. A confirmation email will be sent to the email address you provided. We will review your profile and will get back to you within the next few days.</p>
                        <p class="pb_20">Please contact us if you have any questions or requirefurther information.<br>influencers@forever21.com</p>
                        <p class="pb_20 t_small underline t_dark">
                            <button onClick="location.href = '/';" class="bg_black btn_mid">GO TO HOME</button>
                        </p>
                    </div>
                </div>
                <!-- Thank You Content E -->
            </div>
        </main>

       @{ Html.RenderPartial("_LoginFooter"); }
    </div>
    <!-- Center Container E -->
</body>
</html>