<?xml version="1.0" encoding="utf-8" ?>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="true"
	  internalLogFile="C:\Logs\NLog_Internal.log"
	  globalThreshold="Debug"
	  internalLogLevel="Trace">-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="true">

	<!-- make sure to set 'Copy To Output Directory' option for this file -->
	<!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

	<targets>
		<target name="asyncFile"
				xsi:type="AsyncWrapper">
			<target name="logfile"
					xsi:type="File"
					fileName="${basedir}Logs\${level}.log"
					archiveFileName="${basedir}Logs\archives\${shortdate}_${level}.{#}.log"
					archiveEvery="Day"
					archiveNumbering="Rolling"
					maxArchiveFiles="100"
					concurrentWrites="true"
					keepFileOpen="false"
					encoding="utf-8"
					createDirs="true"
					layout="${newline}${longdate} | ${level} | ${aspnet-sessionid} | ${message} ${onexception:${newline}[Detail Information]${newline}${exception:format=tostring}}" />
		</target>
	</targets>

	<rules>
		<logger name="*"
				levels="Debug,Warn,Fatal,Error"
				writeTo="asyncFile" />
	</rules>
</nlog>