<script type="text/javascript" src="/resource/js/owl.carousel.js"></script>
<script language="javascript" src="~/Scripts/app/Common.js"></script>
<script language="javascript" src="~/Scripts/app/items/MyItem_Biz.js"></script>
<script language="javascript" src="~/Scripts/app/Pager.js"></script>
<script language="javascript" src="~/Scripts/app/items/MyItem_Ctrl.js"></script>

<script language="javascript">
    var o_adminSeq = "@ViewBag.AdminSeq";
    var o_productNo = "@ViewBag.ProductNo";
    var o_skuNo = "@ViewBag.SkuNo";
    $(".loading").show();
</script>

<!-- Right Side S -->
<div ng-controller="PhotosOfInfListController" class="col_s_10_of_10 col_m_9_of_12 col_l_13_of_16" ng-cloak>
    <div class="nav_top_container txcl nav_content_title">
        <h1>ITEM LIST</h1>
    </div>
    <!-- Cotent S -->
    <div class="container row pt_10 pb_20">
        <!-- History Back S -->
        <div class="container pt_5 pb_10">
            <div class="txl t_small t_bold cursor">
                <span class="p_prev"></span><a ng-href="/admin/items">BACK TO THE LIST</a>
            </div>
        </div>
        <!-- History Back E -->
        <!--  Item Grid S -->
        <div class="p_list">
            <!-- Item S -->
            <div>
                <div class="b_gray pa_10 clearfix">
                    <!-- Item Image S -->
                    <div class="col_s_3_of_10 col_m_3_of_12 col_l_3_of_16">
                        <div class="tag_container round_tag_rb t_white t_bold bg_pink picked " ng-class="{'ng-hide': meal_detail.PICKED_STATUS !== 'Picked'}" ng-hide="{{meal_detail.PICKED_STATUS !== 'Picked'}}">
                            <span class="t_small">PICKED</span>
                        </div>
                        <a>
                            <img ng-src="{{ meal_detail.PICKED_STATUS !== 'Picked' && meal_detail.PRODUCT_IMAGE || '/admin/items/viewer/' + meal_detail.Photos[0].PHOTO_URL }}" src="/resource/images/c_loading.gif">
                        </a>
                    </div>
                    <!-- Item Image E -->
                    <!-- Item Info S -->
                    <div class="col_s_7_of_10 col_m_9_of_12 col_l_13_of_16">
                        <div class="pt_10 pl_10 pr_10">
                            <p class="pb_5 t_bold " ng-bind="meal_detail.PRODUCT_NM"></p>
                            <p class="pb_10 t_gray" ng-bind="meal_detail.SKU_NM"></p>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="pa_0">
                                            <p class="t_bold">
                                                <span class="col_s_1_of_10">
                                                    <span class="col_s_10_of_10">
                                                        <img ng-src="{{meal_detail.ADMIN_PHOTO_URL}}" src="/resource/images/c_loading.gif">
                                                    </span>
                                                </span>
                                                <span class="t_bold t_pink" ng-bind="meal_detail.ADMIN_NM"></span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Item Info E -->
                    <!-- Item Flow S -->
                    <div class="col_s_10_of_10 col_m_9_of_12 col_l_13_of_16 t_small flow_tab">
                        <div class="tab_wrap pt_10">
                            <ul class="flow three_up tablayer">
                                <li ng-class="{active: meal_detail.PICKED_STATUS === 'Select'}"><a href="#"><span>Influencers<i class="icon_check"></i></span></a></li>
                                <li ng-class="{active: meal_detail.PICKED_STATUS === 'Reviewing'}"><a href="#"><span>Upload Date<i class="icon_check"></i></span></a></li>
                                <li ng-class="{active: meal_detail.PICKED_STATUS === 'Picked'}"><a href="#"><span>Pick a Photo<i class="icon_check"></i></span></a></li>
                            </ul>
                        </div>
                        <div class="tab_container pt_10 clearfix">
                            <div class="tab_content" ng-class="{active: meal_detail.PICKED_STATUS === 'Select'}">
                                <table class="ws_100 t_mid">
                                    <tbody>
                                        <tr>
                                            <td class="txc">
                                                <span class="underline"><em ng-bind="meal_detail.INF_CNT">0</em> influencers</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab_content" ng-class="{active: meal_detail.PICKED_STATUS === 'Reviewing'}">
                                <table class="ws_100 t_mid">
                                    <colgroup><col class="col_s_4_of_10"></colgroup>
                                    <tbody>
                                        <tr>
                                            <th>First Upload</th>
                                            <td ng-bind="meal_detail.FIRST_UPLOAD_STR"></td>
                                        </tr>
                                        <tr class="bt_gray">
                                            <th>Last Upload</th>
                                            <td ng-bind="meal_detail.LAST_UPLOAD_STR"></td>
                                        </tr>
                                        <tr class="bt_gray">
                                            <th>Total Photos</th>
                                            <td><span ng-bind="meal_detail.PHOTO_CNT">0</span> EA<span class="pl_10 qv_slide"><span class="underline t_red cursor"  ng-click="fnGetViewAll(meal_detail.PRODUCT_NM, meal_detail.SKU_NM)">View All</span></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab_content" ng-class="{active: meal_detail.PICKED_STATUS === 'Picked'}">
                                <table class="ws_100 t_mid">
                                    <colgroup><col class="col_s_4_of_10 col_m_4_of_12 col_l_9_of_16"></colgroup>
                                    <tbody>
                                        <tr>
                                            <th>Status</th>
                                            <td>
                                                <div class="select_container">
                                                    <div class="checkout show_mobile">
                                                        <select id="status" ng-model="meal_detail.PICKED_STATUS" ng-change="fnSelectChange(this)" class="pa_0">
                                                            <option ng-repeat="option in options" ng-value="option.value" ng-bind="option.text" ng-selected="meal_detail.PICKED_STATUS === option.value"></option>
                                                        </select>
                                                    </div>
                                                    <div class="col_m_12_of_12 col_l_16_of_16 txl hide_mobile">
                                                        <span class="drop_p" list-option-class>
                                                            <span id="status_drop" class="s_dropdown arrow_down"><label><a ng-class="{'t_pink': meal_detail.PICKED_STATUS === 'Picked'}" ng-bind="meal_detail.PICKED_STATUS"></a></label></span>
                                                        </span>
                                                        <div class="drop_c b_gray" ng-class="{'display:none':  meal_detail.PICKED_STATUS !== 'Picked'}">
                                                            <dl>
                                                                <dd ng-repeat="option in options" ng-click="fnSelectDropChange(option.value, this)"><span ng-class="{'selected t_pink': meal_detail.PICKED_STATUS === option.value}" ng-bind="option.text">Select</span></dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" id="pickedStatus" name="pickedStatus" ng-value="meal_detail.PICKED_STATUS" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="bt_gray">
                                            <th>Picked influencers</th>
                                            <td ng-bind="meal_detail.PICKED_USER_NM"></td>
                                        </tr>
                                        <tr class="bt_gray">
                                            <th>Status Change</th>
                                            <td ng-bind="meal_detail.PICKED_DATE_STR"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Item Flow E -->
                </div>
            </div>
            <!-- Item E -->
        </div>
        <!--  Item Grid E -->
        <!-- View Option Grid S -->
        <div class="view_grid clearfix m_sortfiler">
            <div class="col_s_10_of_10 col_m_5_of_12 inline txcl pt_10">
                <span class="drop_p row fc" list-option-class>
                    <span class="s_dropdown arrow_down"><label><a>SORT BY</a></label></span>
                </span>
                <div id="div-sort" class="drop_c b_gray">
                    <dl>
                        <dd><span class="sort_type selected t_pink" data-sort="01" ng-click="fnSortChange()">Newest</span></dd>
                        <dd><span class="sort_type" data-sort="02" ng-click="fnSortChange()">Nominated</span></dd>
                        <dd><span class="sort_type" data-sort="03" ng-click="fnSortChange()">Picked</span></dd>
                        <dd><span class="sort_type" data-sort="04" ng-click="fnSortChange()">A to Z</span></dd>
                    </dl>
                </div>
            </div>
            @*<div class="col_s_5_of_10 fr txcl show_mobile">
                <span class="drop_p row fc" list-option-class>
                    <span class="s_dropdown arrow_down"><label><a>VIEW</a></label></span>
                </span>
                <div id="div-size" class="drop_c b_gray">
                    <dl>
                        <dd><span class="pagesize t_pink" data-pagesize="10" ng-click="fnPageSizeChange()">VIEW 10</span></dd>
                        <dd><span class="pagesize" data-pagesize="20" ng-click="fnPageSizeChange()">VIEW 20</span></dd>
                        <dd><span class="pagesize" data-pagesize="10" ng-click="fnPageSizeChange()">VIEW 30</span></dd>
                    </dl>
                </div>
            </div>*@
            <div id="" class="show_mobile p_count pt_10 pb_10">0 Items</div>
        </div>
        <!-- View Option Grid E -->
        <!-- Product Grid S -->
        <div class="container owl_list">
            <div class="clearfix">
                <!-- Item S -->
                <div class="col_s_5_of_10 col_l_4_of_16" dir-paginate="meal in meals | itemsPerPage: pageSize" current-page="currentPage" my-repeat-directive>
                    <div class="col_s_10_of_10" style="background-image:url('/resource/images/c_loading.gif');background-size:cover; background-position:center center; background-repeat:no-repeat;">
                        <!-- Product's image S -->
                        <div class="item_slider">
                            <div ng-repeat="photo in meal.Photos" my-repeat-directive2>
                                <div class="bg_white t_black img_count">
                                    <p>{{$index+1}}/{{meal.PHOTO_CNT}}</p>
                                </div>
                                <div class="tag_container round_tag_rb t_white t_bold bg_gray" ng-class="{active:photo.PICKED_STATUS === 'Picked'}" ng-click="fnSetPicked($parent.$index, $index, this)">
                                    <span class="t_small">PICKED</span>
                                </div>
                                <a ng-href="/admin/items/view/{{meal.ADMIN_SEQ}}/{{meal.PRODUCT_NO}}/{{meal.SKU_NO}}/{{meal.USER_SEQ}}">
                                    <img ng-src="{{'/admin/items/viewer/' + photo.PHOTO_URL}}" src="/resource/images/c_loading.gif" />
                                </a>
                            </div>
                        </div>
                        <!-- Product's image E -->
                    </div>
                    <div class="col_s_9_of_10 fl t_small">
                        <p class="pt_5 t_bold t_black"><span ng-bind="meal.INSTAGRAM_ID"></span></p>
                        <p class="pt_10">Uploaded Date : <span ng-bind="meal.UPLOAD_DATE_STR"></span></p>
                        <p class="pt_10">Total Photos : <span ng-bind="meal.PHOTO_CNT"></span></p>
                        <!-- Product's name E -->
                    </div>
                    <div class="col_s_1_of_10 fr">
                        <!-- Favorite S -->
                        <span class="icon_star" ng-class="{active:meal.NOMINATED_STATUS === 'Nominated'}" ng-click="fnSetNominated( $index, this)"></span>
                        <!-- Favorite E -->
                    </div>
                </div>
                <!-- Item S -->
            </div>
        </div>
        <!-- Product Grid E -->
    </div>
    <!-- Cotent E -->
</div>
<!-- Right Side E -->

<script language="javascript">
    $(document).ready(function () {
        // 좌측 메뉴 Active
        //$("#m_item").addClass('active');
        fnActiveMenu("m_item", "Item List");
    });
</script>


