<!-- Right Container S -->
<div class="desktop_overlay"></div>
<div class="r_container">
    <span class="icon_close"></span>
    <div class="quick col_s_9_of_10 col_m_10_of_12 col_l_13_of_16 fc">
        <!-- Right Content S -->
        <div class="ttl_header t_bold pb_10 pt_20 "><label id="lb_p_title">SELECT CHARACTER</label></div>
        <div class="pt_20 pb_20 txc">
            <span>
                <span class="col_s_3_of_10 pa_10" onclick="fnSelectPhotoUrl('/resource/images/profile_smiley.png')"><img src="/resource/images/profile_smiley.png"></span>
                <span class="col_s_3_of_10 pa_10" onclick="fnSelectPhotoUrl('/resource/images/profile_female.png')"><img src="/resource/images/profile_female.png"></span>
                <span class="col_s_3_of_10 pa_10" onclick="fnSelectPhotoUrl('/resource/images/profile_male.png')"><img src="/resource/images/profile_male.png"></span>
            </span>
        </div>
        @*<div class="pt_10">
                <div class="t_bold bt_gray">
                    <span onclick="openDialogProFile();" class="fc row pt_20 pb_20">Choose a file from desktop</span>
                    <input name="uploadFile" id="characteruploadFileProFile" type="file" style="display:none;" accept="image/gif, image/jpeg,  image/jpg,  image/png" onchange="chk_file_type(this)" />
                </div>
                <div class="t_bold bt_gray row ws_100">
                    <span onclick="" class="fc row pt_20 pb_20">Choose a file from dropbox</span>
                </div>
            </div>*@
        <!-- Right Content E -->
    </div>
</div>
<!-- Right Container E -->