@model AccountLoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <!--[if lt IE 9]>
    <div class="ie_warning"><div>Forever21.com is not optimized for Internet Explorer 8. <br/>Use another browser or upgrade here: <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank" class="t_pink underline">http://windows.microsoft.com/en-us/internet-explorer/download-ie</a></div></div>
    <![endif]-->
    <title>Influencer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="Forever21">
    <meta name="apple-mobile-web-app-title" content="Influencer">
    <meta name="Description" content="Forever21.com offers the most current fashions for women and men.  Shop Forever21.com and find the best selection of fashion tops, dresses, denim, shoes, accessories, jewelery, lingerie, 21 special items, and more!">
    <meta name="Keywords" content="clothes, clothing, apparel, casual tops, dressy tops, basics, skirts, dress, dresses, sale, fashion, cheap, tees, tank tops, graphics, shirts, pants, jeans, shorts, sweaters, outerwear, jackets, tops, bottoms, skirts, shoes, halter, tube top, denim, jewelery, accessories, rings, necklaces, underwear, mens, womens, woman, junior fashion, xxi, forlove, gadzooks, womens apparel, intimate, handbags, sunglasses, hats, scarves, hair goods, earrings">
    <link rel="shortcut icon" href="http://www.forever21.com/images/en/common/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="http:http://www.forever21.com/images/en/common/apple-touch-icon-144x144-precomposed.png">
    <link rel="stylesheet" type="text/css" href="./../resource/css/bp_style.css">
    <link rel="stylesheet" type="text/css" href="./../resource/css/bp_image.css">
    <script type="text/javascript" src="./../resource/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="./../resource/js/f21_js.js"></script>
    <script type="text/javascript" src="./../resource/js/owl.carousel.js"></script>
    <script type="text/javascript" src="./../resource/js/jquery.flex-modal.js"></script>
</head>
<body>
    <span class="scrollToTop t_bold"></span>
    <!-- Loading S -->
    <div class="loading" style="display: none;"><span><img src="./..//images/loading.gif"></span></div>
    <!-- Loading E -->
    <!-- Center Container S -->
    <div class="c_container">
        <div class="mobile_overlay"></div>
        <header>
            <!-- Desktop Preheader Menu S -->
            <div class="pre_header bg_black row container">
                <!-- Global Bar S -->
                <div class="col_s_10_of_10 col_m_12_of_12 col_l_16_of_16 g_bar">
                    <p class="show_desktop txc"><a href="#">2 DAY FREE SHIPPING FOR OUR INFLUENCERS</a></p>
                    <p class="show_mobile txc"><a href="#">2 DAY FREE SHIPPING FOR OUR INFLUENCERS</a></p>
                </div>
                <!-- Global Bar E -->
            </div>
            <!-- Desktop Preheader E -->
            <!-- Mobile Header S -->
            <div class="m_header row container show_both txc">
                <div class="f21_logo"><a href="/"><span class="logo left"></span></a></div>
                <!-- Secondary Menu S -->
                <div class="nav_secondary right">
                    <div class="floating right top fr txc">
                        <!-- Shop Now S -->
                        <a href="http://www.forever21.com" target="_blank">
                            <div class="shop_icon sh_rt">
                                <p class="t_res">SHOP NOW</p>
                            </div>
                        </a>
                        <!-- Shop Now E -->
                    </div>
                </div>
            </div>
            <!-- Mobile Header E -->
            <!-- Desktop Header S -->
            <div class="d_header row container show_desktop txc">
                <div class="f21_logo"><a href="/"><span class="logo left"></span></a></div>
                <div class="floating right top fr txc">
                    <!-- Shop Now S -->
                    <a href="http://www.forever21.com" target="_blank">
                        <div class="shop_icon sh_rt">
                            <p class="t_res">SHOP NOW</p>
                        </div>
                    </a>
                    <!-- Shop Now E -->
                </div>
            </div>
            <!-- Desktop Header E -->
        </header>

        <main role="main">
            <div id="main">
                <!-- Top Visual Container S -->
                <div class="container con_container" id="topVisual">
                    <!-- Top Visual Text S -->
                    <div class="container row fc pt_20 txc wmx_800">
                        <div class="t_bold pb_20">
                            <p class="t_large pb_10 container">Forever21 X You!</p>
                            <p class="ttl_header">Welcome to the Forever21 influencer portal!<br>Here you can shop and share all of the trends you love! </p>
                        </div>
                    </div>
                    <!-- Top Visual Text E -->
                </div>
                <!--  Top Visual Container E -->
                <!-- Terms Container S -->
                <div class="container row con_container fc clearfix wmx_800">
                    <!-- Terms S -->
                    <div class="pt_20 pb_20">
                        <h4 class="pb_10">FOREVER21 INFLUENCER</h4>
                        <p class="pb_10">No matter you are a cool girl loving fashion, or a fashion blogger, always show your forward fashion taste as a free-thinking girl.</p>
                        <p class="pb_10">By applying to the forever21.com Fashion Blogger program. Our bloggers benefit from special discounts and free products direct from our new product lines.</p>
                        <p class="pb_20">Don't hesitate to send us an email(<span class="t_pink">business@forever21.com</span>) about yourself.</p>
                        <p class="pb_20">How to Join FOREVER21 Influencer Program?</p>
                        <h4>1. Are you a blogger who focuses on current fashion and style?</h4>
                        <p class="pb_20">FOREVER21 now has been collaborating with many famous bloggers and will be honored to have you in our fashion programme. </p>
                        <h4 class="pb_10">Qualification:</h4>
                        <p> 1. You believe you have a taste for fashion and are influential in your personal blog</p>
                        <p class="pb_20"> 2. You blog about fashion frequently, at least once a week.</p>
                        <h4 class="pb_10">2. What should I do to start?</h4>
                        <p class="pb_20">You have to register first in www.forever21.com. You can get banner code by clicking "I agree". Inform us of your register email, we will add points to your account.</p>
                        <h4 class="pb_10">3. What rule should I follow to get my points renewed?</h4>
                        <p class="pb_20">
                            Usually you need to show our products within 7days and send me the link of your blog post. There should be a corresponding product link below the product you wear on your blog instead of the main page only unless the product you show has run out
                            of stock. <span class="red1">Extra points if you share your look on Chicisimo.com and include a link to forever21.com.</span>
                        </p>
                        <h4 class="pb_10">4. How often do you give reward to different bloggers?</h4>
                        <p class="pb_20">Usually we give points to bloggers as reward which you can use in our shop. We will renew their points when they make outfits on their blog and as many social platforms as possible and send us the post link.</p>
                        <h4 class="pb_10">5. Do I have to pay customs?</h4>
                        <p class="pb_20">Custom policy differs from different countries. For example, Bloggers from Brazil have to provide us their tax number and pay tax. It depends on the policy of your country.</p>
                        <h4 class="pb_10">6. Are there other ways to get more points?</h4>
                        <p class="pb_20">Yes, you can get more points by writing blog post featuring forever21 or hold giveaways for choies and send us the link.</p>
                        <h4 class="pb_10">7. Please register on choies.com first before doing anything else.</h4>
                        <p>You cannot use the points unless you have been registered.</p>
                        <p class="pb_10">About the copyright of your photos We have the right to put photos from your blog on our facebook, instagram page and our other official pages.</p>
                        <p class="pb_10">If you have any other questions about fashion blogger programme, you can email to <span class="t_pink">business@forever21.com.</span></p>
                        <p class="pb_10">We will check it in a week and reply if you are approved.</p>
                        <p class="pb_20">Lf you agree with all the terms above, clicks agree to continue.</p>
                        <button onClick="location.href ='@Url.Action("register", "account")';" class="bg_black ws_40 btn_mid">I AGREE</button>
                    </div>
                    <!-- Terms E -->
                </div>
                <!-- Terms Container E -->
            </div>
        </main>

        @{ Html.RenderPartial("_LoginFooter"); }
    </div>
    <!-- Center Container E -->
</body>
</html>