
@{
    ViewBag.Title = "RegistInfluencer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RegistInfluencer</h2>

<table border="1">
    <tr>
        <td style="width:200px;">FIRST NAME *</td>
        <td style="width:300px;"><input type="text" id="FIRST_NM" name="FIRST_NM" /></td>
    </tr>
    <tr>
        <td style="width:200px;">LAST NAME *</td>
        <td style="width:300px;"><input type="text" id="LAST_NM" name="FIRST_NM" /></td>
    </tr>
    <tr>
        <td style="width:200px;">EMAIL ADDRESS *</td>
        <td style="width:300px;"><input type="text" id="USER_EMAIL" name="USER_EMAIL" /></td>
    </tr>
    <tr>
        <td style="width:200px;">PASSWORD *</td>
        <td style="width:300px;"><input type="text" id="USER_PASS" name="USER_PASS" /></td>
    </tr>
    <tr>
        <td style="width:200px;">CONFIRM PASSWORD *</td>
        <td style="width:300px;"><input type="text" id="CONFIRM_PASS" name="CONFIRM_PASS" /></td>
    </tr>
    <tr>
        <td style="width:200px;">PHONE *</td>
        <td style="width:300px;"><input type="text" id="PHONE_NO" name="PHONE_NO" /></td>
    </tr>
    <tr>
        <td style="width:200px;">INSTAGRAM ID *</td>
        <td style="width:300px;"><input type="text" id="INSTAGRAM_ID" name="INSTAGRAM_ID" /></td>
    </tr>
</table>