<div id="content">
    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>
                <b>Terms &amp; Condition</b>
            </h1>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-sm-12">
            <div class="well">

                <h1 class="semi-bold">이용약관</h1>
                
                <div class="terms">
                    <ol>
                        <li>
                            <strong>제1조(목적)</strong>
                            <ol>
                                <li>① 이 약관은 FOREVER 21 KOREA RETAIL, LCC 한글명 포에버21코리아리테일(유)회사가 운영하는 FOREVER 21 인터넷 의류 쇼핑몰(이하 "FOREVER 21쇼핑몰"이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 있어 사이버몰과 이용자의 권리,의무,책임사항을 규정함을 목적으로 합니다.</li>
                                <li>② 이용자가 되고자 하는 자가 FOREVER 21 회사가 정한 소정의 절차를 거쳐서 회원가입을 하고자할 때, 『FOREVER 21 회원약관 및 개인정보 수집, 이용』에 대한 "동의"를 선택하고  "가입"버튼을 누르면 본 약관에 동의하는 것으로 간주합니다.</li>
                            </ol>
                        </li>

                        <li>
                            <strong>제2조(정의)</strong>
                            <ol>
                                <li>① "FOREVER 21 쇼핑몰" 이란 FOREVER 21 회사가 컴퓨터 등의 정보통신설비를 이용하여 상품 등을 이용자에게 제공하여 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버 쇼핑몰을 운영하는 사업자의 의미로도 사용합니다.</li>
                                <li>② "이용자"란 FOREVER 21 쇼핑몰에 접속하여 이 약관에 따라 FOREVER 21 쇼핑몰이 제공하는 서비스를 받는 회원 및 비회원을 말합니다.</li>
                                <li>③ "회원"이라 함은 FOREVER 21 쇼핑몰에 개인정보를 제공하여 회원등록을 한 자로서, FOREVER 21 쇼핑몰의 정보를 지속적으로 제공받으며, FOREVER 21 쇼핑몰이 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.</li>
                                <li>④ "비회원"이라 함은 회원에 가입하지 않고 FOREVER 21 쇼핑몰이 제공하는 서비스를 이용하는 자를 말합니다. </li>
                            </ol>
                        </li>

                        <li>
                            <strong>제3조(약관의 명시와 개정)</strong>
                            <ol>
                                <li>① FOREVER 21쇼핑몰은 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 연락처(전화번호,팩스번호,전자우편주소 등), 사업자등록번호 등을 이용자가 쉽게 알 수 있도록 FOREVER 21 쇼핑몰의 초기 서비스화면(전면)에 게시합니다.</li>
                                <li>② FOREVER 21쇼핑몰은 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제에 관한 법률, 전자거래기본법, 전자서명법, 정보통신망이용촉진등에 관한 법률, 방문판매등에 관한 법률, 소비자보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.</li>
                                <li>③ FOREVER 21 쇼핑몰이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 쇼핑몰의 초기화면에 그 적용일자30일 전부터 적용일자 전일까지 공지합니다. 단 회원의 권리, 의무에 중대한 영향을 주는 변경이 아닌 경우에는 적용일자 7일 전부터 공지하도록 합니다. 개정 이전에 가입한 기존회원은 개정 이후 7일 이내에 별도 이의를 표시하지 아니한 경우에는 개정 이후의 약관 조항이 그대로 적용되는 것으로 봅니다.</li>
                                <li>④ FOREVER 21 쇼핑몰이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약은 물론, 그 이전에 이미 체결된 계약에 대해서도 그대로 적용됩니다.</li>
                            </ol>
                        </li>

                        <li>
                            <strong>제4조(서비스의 제공 및 변경)</strong>
                            <ol>
                                <li>
                                    ① FOREVER 21쇼핑몰은 다음과 같은 업무를 수행합니다.
                                    <div>
                                        1. 상품 등에 대한 정보 제공 및 구매계약의 체결<br>
                                        2. 구매계약이 체결된 상품 등의 배송<br>
                                        3. 기타 FOREVER 21쇼핑몰이 정하는 업무
                                    </div>
                                </li>
                                <li>② FOREVER 21쇼핑몰은 상품 등의 품절 또는 기술적 사양의 변경 및 불가피한 여건이나 사정 등의 경우에는 장차 체결되는 계약에 의해 제공할 상품 등의 내용을 변경할 수 있습니다. 이 경우에는 변경된 상품 등의 내용 및 제공일자를 명시하여 현재의 상품 등의 내용을 게시한 곳에 즉시 공지합니다.</li>
                                <li>③ FOREVER 21쇼핑몰이 제공하기로 이용자와 계약을 체결한 서비스의 내용을 상품 등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 주소로 즉시 통지합니다. 단, FOREVER 21쇼핑몰은 불가피한 여건이나 사정이 있는 경우, 위 공지를 하지 않을 수 있습니다.</li>
                                <li>④ FOREVER 21쇼핑몰이 제공하기로 이용자와 계약을 체결한 서비스의 내용을 상품 등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우, FOREVER 21쇼핑몰은 이로 인하여 이용자가 입은 손해를 배상하지 않습니다. 다만, FOREVER 21쇼핑몰의 고의 또는 과실로 인한 경우는 손해를 배상합니다.</li>
                            </ol>
                        </li>

                        <li>
                            <strong>제5조(서비스의 중단)</strong>
                            <ol>
                                <li>① FOREVER 21쇼핑몰은 컴퓨터 등 정보통신설비의 보수점검,교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.</li>
                                <li>② 제1항에 의한 서비스 중단의 경우에는 FOREVER 21쇼핑몰은 제8조에 정한 방법으로 이용자에게 통지합니다.</li>
                                &gt; 서비스 점검 등의 사유로 인한 서비스 중단의 경우에도 개인 이메일로 통지 / 혹은 1주일 이상 쇼핑몰 공지 게시판에 게시되어야 합니다.
                                <li>③ FOREVER 21쇼핑몰은 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상하지 아니합니다. 단, FOREVER 21쇼핑몰에 고의 또는 중과실이 있는 경우에는 이를 배상하도록 합니다. </li>
                            </ol>
                        </li>

                        <li>
                            <strong>제6조(회원가입)</strong>
                            <ol>
                                <li>① 이용자는『FOREVER 21 회원약관 및 개인정보 수집, 이용에 대한 동의를 확인하고 FOREVER 21쇼핑몰이 정한 가입 양식에 따라 회원정보를 기입한 후 가입에 대한 의사표시를 함으로서 회원가입을 신청합니다.</li>
                                <li>② 회원가입 계약의 성립시기는 FOREVER 21쇼핑몰의 승낙이 이메일로 회원에게 도달한 시점으로 합니다.</li>
                                <li>③ 회원은 제1항의 회원정보 기재 내용에 변경이 발생한 경우, 즉시 변경사항을 정정하여 기재하여야 합니다.</li>
                                <li>
                                    ④ FOREVER 21은 다음의 경우를 제외하고 제1항과 같이 회원으로 가입할 것을 신청한 자를 회원으로 등록합니다.
                                    <div>
                                        1. 가입신청자가 본 약관 제7조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우<br>
                                        다만, 제7조 제3항에 의한 회원자격 상실 후 3개월이 경과한 자로서 FOREVER 21 쇼핑몰의 회원재가입 승낙을 얻은 경우에는 예외로 합니다.<br>
                                        2. 등록 내용에 허위, 기재누락, 오기가 있는 경우.<br>
                                        3. 기타 회원으로 등록하는 것이 FOREVER 21 쇼핑몰의 기술상 현저히 지장이 있다고 판단되는 경우.
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li>
                            <strong>제7조(회원 탈퇴 및 자격 상실)</strong>
                            <ol>
                                <li>① 회원은 FOREVER 21쇼핑몰에 언제든지 탈퇴를 요청할 수 있으며 FOREVER 21쇼핑몰은 즉시 회원탈퇴를 처리합니다.</li>
                                <li>
                                    ② 회원이 다음 각호의 사유에 해당하는 경우, FOREVER 21쇼핑몰은 회원자격을 제한 및 정지시킬 수 있습니다.
                                    <div>
                                        1. 가입 신청시에 허위 내용을 등록한 경우<br>
                                        2. FOREVER 21쇼핑몰을 이용하여 구입한 상품 등의 대금을 지급하지 않는 경우<br>
                                        3. 다른 사람의 FOREVER 21 쇼핑몰 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우<br>
                                        4. FOREVER 21 쇼핑몰을 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
                                    </div>
                                </li>
                                <li>③ FOREVER 21 쇼핑몰이 회원 자격을 제한 정지 시킨후, 동일한 행위가 2회이상 반복되거나 30일이내에 그 사유가 시정되지 아니하는 경우 FOREVER 21 쇼핑몰은 회원자격을 상실시킬 수 있습니다.</li>
                                <li>④ 장기 미이용자의 개인정보를 보호하기 위하여 미이용자의 개인정보는 3년 경과 후 즉시 파기하거나 다른 이용자의 개인정보와 분리하여 별도로 저장/관리하게 됩니다. 개인정보를 별도로 저장/관리하는 경우에는 이 법 또는 다른 법률에 특별한 규정이 있는 경우를 제외하고는 해당 개인정보를 이용하거나 제공할 수 없습니다.</li>
                                <li>⑤ FOREVER 21 쇼핑몰이 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소전에 소명할 기회를 부여합니다.</li>
                            </ol>
                        </li>

                        <li>
                            <strong>제8조(회원에 대한 통지)</strong>
                            <ol>
                                <li>① FOREVER 21 쇼핑몰이 회원에 대한 통지를 하는 경우, 회원이 FOREVER 21 쇼핑몰과 미리 약정하여 지정한 전자우편 주소로 할 수 있습니다.</li>
                                <li>② FOREVER 21 쇼핑몰은 불특정다수 회원에 대한 통지의 경우 1주일이상 FOREVER 21 쇼핑몰 공지 게시판에 게시함으로서 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별통지를 합니다. </li>
                            </ol>
                        </li>

                        <li>
                            <strong>제9조(구매신청)</strong>
                            <ol>
                                <li>
                                    FOREVER 21 쇼핑몰 이용자는 FOREVER 21 쇼핑몰상에서 다음의 방법에 의하여 구매를 신청하며, FOREVER 21 쇼핑몰은 이용자가 구매신청을 함에 있어서 다음의 각 내용을 알기 쉽게 제공하여야 합니다.
                                    <div>
                                        1. 상품 등의 검색 및 선택<br>
                                        2. 성명, 주소, 전화번호, 전자우편주소 등의 입력<br>
                                        3. 구매신청 및 확인<br>
                                        4. 결재방법의 선택
                                    </div>
                                </li>
                            </ol>
                        </li>


                        <li>
                            <strong>제10조(계약의 성립)</strong>
                            <ol>
                                <li>
                                    ① FOREVER 21 쇼핑몰은 제9조와 같은 구매신청에 대하여 다음의 각호에 해당하면 승낙하지 않을 수 있습니다.
                                    <div>
                                        1. 신청 내용에 허위, 기재누락, 오기가 있는 경우<br>
                                        2. 기타 구매신청에 승낙하는 것이 FOREVER 21 쇼핑몰 기술상 현저히 지장이 있다고 판단하는 경우
                                    </div>
                                </li>
                                <li>② FOREVER 21 쇼핑몰의 승낙이 제12조 제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.</li>
                            </ol>
                        </li>

                        <li>
                            <strong>제11조(지급방법)</strong>
                            <ol>
                                <li>
                                    FOREVER 21 쇼핑몰에서 구매한 상품 등에 대한 대금지급방법은 다음의 방법으로 할 수 있습니다.
                                    <div>
                                        1. 현금 입금 (실기간 계좌이체, 무통장입금)<br>
                                        2. 각종 신용 카드 결제<br>
                                        3. 적립 포인트<br>
                                        4. 할인 쿠폰
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li>
                            <strong>제12조(수신확인통지/구매신청 변경 및 취소)</strong>
                            <ol>
                                <li>① FOREVER 21 쇼핑몰은 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 합니다.</li>
                                <li>② 수신확인통지를 받은 이용자는 의사표시의 불일치 등이 있는 경우에 수신확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있고, FOREVER 21 쇼핑몰은 배송전에 이용자의 요청이 있는 경우에는 지체없이 그 요청에 따라 처리하여야 합니다. </li>
                            </ol>
                        </li>

                        <li>
                            <strong>제13조(배송)</strong>
                            <ol>
                                <li>
                                    ① 배송 소요기간은 주문일 익일을 기산일로 하여 각 다음과 같습니다.
                                    <div>
                                        1. 일반 택배 (주문일, 공휴일 제외): 전국 2~5일 소요, 도서지역일 경우 2~3일 추가 됩니다.<br>
                                        2. 공휴일 기타 휴무일에는 배송 되지 않습니다.<br>
                                        3. 대금 지급을 무통장 입금방식에 의하는 경우, 배송소요기간은 입금 확인일로부터 기산합니다.<br>
                                        4. 천재지변 등 불가항력적인 사유 발생시 그 해당기간 동안은 배송소요기간에서 제외됩니다.
                                    </div>
                                </li>
                                <li>② 구매 신청한 상품의 품절 등의 사유로 해당 상품을 제공할 수 없을 때에는 상품대금을 받은 날로부터 3일 이내에 상품대금의 환불에 필요한 조치를 취하고 그 사유를 이용자에게 통지합니다.</li>
                                <li>③ FOREVER 21 쇼핑몰은 국내 배송만 가능합니다. 단, 해외배송은 미국 쇼핑몰 www.forever21.com에서 가능합니다.</li>
                                <li>④ 총 구매금액이 3만원이상인 경우에는 무료 배송합니다.</li>
                            </ol>
                        </li>

                        <li>
                            <strong>제14조(반품/환불/취소)</strong>
                            <ol>
                                <li>① 주문취소는 상품이 발송되기 전 단계(주문상태: 주문완료 또는 결제완료)까지 로그인후 [마이페이지 &gt; 주문/배송조회]에서 신청 가능합니다. 주문상태가 "배송중"이거나 "배송완료" 단계에서는 취소가 불가능함으로 반품처리로 요청해야 합니다. 무통장입금 이용시, [주문완료] 시점으로부터 3시간이내 미입금될 경우 주문이 자동 취소됩니다 </li>
                                <li>② FOREVER 21쇼핑몰은 이용자가 구매 신청한 상품 등이 품절 등의 사유로 해당 상품을 제공할 수 없을 때에는 지체 없이 그 사유를 이용자에게 통지하고, 사전에 상품 등의 대금을 받은 경우는 대금을 받은 날부터 3일 이내에, 그렇지 않은 경우에는 그 사유발생 일로부터 3영업일 이내에 환불 처리합니다. </li>
                                <li>
                                    ③ FOREVER 21쇼핑몰은 이미 배송된 상품일지라도 다음과 같은 경우에는 환불 조치합니다.
                                    <div>
                                        1. 배송된 상품 등이 주문내용과 상이할 경우 <br>
                                        2. 배송된 상품 등이 파손, 손상되었거나 오염되었을 경우<br>
                                        (단, 이용자의 책임 있는 사유로 상품 등이 훼손된 경우는 제외합니다.) <br>
                                        3. 상품 등이 광고에 표시된 배송기간보다 늦게 배송 된 경우
                                    </div>
                                </li>
                                <li>
                                    ④ FOREVER21 쇼핑몰에서는 사이즈, 색상 등에 대한 교환은 주문건당 1회에 한해 동일 상품 혹은 컬러 및 사이즈 교환만이 가능합니다.<br>
                                    결함 상품인 경우 동일 상품으로만 교환이 가능합니다.
                                </li>
                                <li>
                                    ⑤ 반품신청은 "물품 수령 후 7일 이내"에 해야하고 신청 후 7일이내 상품이 도착해야 합니다.<br>
                                    (전자상거래등에서의 소비자보호에관한법률 제 17조 제1항)
                                    <div>
                                        1. 반품 서비스는 로그인 후 [마이페이지&gt;반품신청/조회]에서 신청가능하며, 당사의 홈페이지에서 반품신청을 하지 않을 경우 원활한 처리가 이루어지지 않을 수 있습니다.<br>
                                        2. 온라인 FOREVER 21 쇼핑몰에서 구매한 상품만 환불 가능합니다.<br>
                                        3. 반품하고자 하는 상품은 안전하게 재포장하여 아래의 주소로 보내주시기 바랍니다.<strong>반품주소: 경기도 화성시 안녕동 164-98 롯데택배 수원지점(TEL:031-297-3355) (우) 18353</strong>
                                        4. 온라인에서 구매한 상품은 오프라인 매장에서 부분적으로만 교환 및 환불 가능합니다. 세일 상품, 악세서리, 수영복, 언더웨어, 가방, 슈즈, 레깅스, 매장과 온라인의 가격이 상이한 상품, 온라인 단독 할인 및 적립금 사용 주문건은 매장에서의 교환 및 반품이 불가능합니다. 교환은 동일한 상품에 한해서만 가능하며, 환불은 무통장입금과 실시간 계좌 이체로 결제한 주문만 가능합니다.<br>
                                        5. 모든 환불은 가격표를 떼지않은 미착용의 상품만 가능합니다.<br>
                                        6. 귀걸이, 바디피어싱, 란제리 팬티의 경우 포장지를 봉합한 특수 스티커 훼손 시 , 원피스 수영복과 비키니 브리프는 상품 내 위생 스티커 제거 시 반품이 불가합니다.
                                        <br><br>

                                        배송 후, 다음의 경우에는 반품할 수 없습니다.<br>

                                        1. 이용자에게 책임 있는 사유로 상품 등이 멸실 또는 훼손된 경우 <br>
                                        2. 이용자의 착용에 의하여 상품 등의 가치가 감소한 경우<br>
                                        3. 시간의 경과에 의하여 재판매가 곤란할 정도로 상품 등의 가치가 감소한 경우<br>
                                        4. 수령일로부터 7일이내 반품접수가 되지 않은 경우<br>
                                        5. 가격표를 포함한 라벨이 떨어진 상품의 경우<br>
                                        6. 14조 5항에 명시한 특정 상품군의 경우, 포장지를 봉합한 특수 스티커를 훼손시 반품이 불가능합니다.
                                    </div>
                                </li>

                                <li>⑥ 한국이 아닌 다른 나라에서 FOREVER 21의 제품을 구입한 경우 교환/환불 및 제품의 A/S는 불가합니다.</li>
                                <li>⑦ 환불은 반품한 상품과 웹에 등록하신 내용을 확인 후 처리해 드립니다.</li>
                                <li>⑧ 카드 결제에 따른 환불인 경우, 반품된 날로부터 카드의 결제 취소는 즉시 접수되나 카드사 사정에 따라 7~10일 정도의 취소기간이 소요됩니다. 카드대금 결제일에 따라 청구작업기간이 다를 수 있으며, 자세한 내용은 해당 카드사에서 확인해야 합니다. 무통장 및 실시간 계좌이체 입금의 경우는 반품상품의 확인 후 2~3일내에 해당 입금계좌로 환불처리합니다.(단, 주말, 공휴일은 제외) </li>
                                <li>
                                    ⑨ 상품구매에 단계에서 결제방법을 한 가지 이상을 선택하고 결제하였다면 다음과 같은 순서로 환불처리합니다.
                                    <div>
                                        1. 현금입금<br>
                                        2. 카드취소<br>
                                        3. 포인트 재적립<br>
                                        단, 반품시 사용하신 할인쿠폰은 복원되지 않습니다.
                                    </div>
                                </li>
                                <li>
                                    ⑩ 제품의 하자에 의한 환불인 경우 반품배송비는 FOREVER 21쇼핑몰이 부담합니다만, 제품의 하자가 아닌 이용자의 변심에 의한 환불인 경우는 이용자가 반품배송비를 부담합니다. 사유에 따른 반품배송비 구분은 다음과 같습니다.
                                    <div>
                                        - 제품의 하자에 의한 환불 ' FOREVER 21 부담<br>
                                        - 오배송에 의한 환불 ' FOREVER 21 부담<br>
                                        - 사이즈 및 색상 등을 포함한 고객변심에 의한 환불 ' 이용자부담 <br>
                                        고객은 반품 신청 시 선불/착불 반송 신청이 가능하며, 착불로 보내진 반품 건이 자사 책임의 건이 아닌 경우 반품 택배 비용 차감 후 환불처리됩니다.
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li>
                            <strong>제15조(개인정보보호)</strong>
                            <ol>
                                <li>
                                    ① FOREVER 21 쇼핑몰은 이용자의 정보수집시 구매계약 이행에 필요한 최소한의 정보를 수집합니다.<br>
                                    다음 사항을 필수사항으로 하며 그 외 사항은 선택사항으로 합니다.
                                    <div>
                                        1. 성명<br>
                                        2. 전자우편주소(ID)<br>
                                        3. 주소<br>
                                        4. 전화번호 또는 핸드폰 번호<br>
                                        5. 비밀번호(회원의 경우)<br>
                                        6. 생년월일
                                    </div>
                                </li>

                                <li>② FOREVER 21 쇼핑몰이 이용자의 개인식별이 가능한 개인정보를 수집할 때에는 반드시 이용자의 동의를 받습니다.</li>
                                <li>③ 이용자는 언제든지 FOREVER 21 쇼핑몰이 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 FOREVER 21 쇼핑몰은 이에 대해 지체없이 필요한 조치를 취할 의무를 집니다. 이용자가 오류의 정정을 요구한 경우에는 FOREVER 21 쇼핑몰은 그 오류를 정정할 때까지 해당 개인정보를 이용하지 않습니다.</li>
                                <li>④ FOREVER 21 쇼핑몰은 개인정보 보호를 위하여 관리자를 한정하여 그 수를 최소화하며 신용카드, 은행계좌 등을 포함한 이용자의 개인정보의 분실, 도난, 유출, 변조를 방지하기 위하여 기술적/관리적 보호조치를 준수할 것입니다.</li>
                            </ol>
                        </li>

                        <li>
                            <strong>제16조(FOREVER 21 쇼핑몰의 의무)</strong>
                            <ol>
                                <li>① FOREVER 21 쇼핑몰은 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 상품 등을 제공하는데 최선을 다하여야 합니다.</li>
                                <li>② FOREVER 21 쇼핑몰은 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.</li>
                            </ol>
                        </li>

                        <li>
                            <strong>제17조(회원의 비밀번호에 대한 의무)</strong>
                            <ol>
                                <li>① 회원은 자신의 비밀번호를 제3자에게 공개해서는 안됩니다.</li>
                                <li>② 회원이 자신의 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 FOREVER 21 쇼핑몰에 통보하고 FOREVER 21 쇼핑몰의 안내가 있는 경우에는 그에 따라야 합니다. </li>
                            </ol>
                        </li>

                        <li>
                            <strong>제18조(이용자의 의무)</strong>
                            <ol>
                                <li>
                                    이용자는 다음 행위를 하여서는 안됩니다.
                                    <div>
                                        1. 개인정보의 등록 또는 변경 시 허위 내용을 등록<br>
                                        2. 타인의 정보 도용<br>
                                        3. FOREVER 21 쇼핑몰 기타 제3자의 저작권 등 지적재산권에 대한 침해<br>
                                        4. FOREVER 21 쇼핑몰 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위<br>
                                        5. 사실관계를 왜곡하는 정보제공 행위 등 기타 FOREVER 21쇼핑몰이 부적절하다고 판단하는 행위
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li>
                            <strong>제19조(연결몰과 피연결몰 간의 관계)</strong>
                            <ol>
                                <li>① 상위 몰과 하위 몰이 하이퍼 링크(예: 하이퍼 링크의 대상에는 문자, 그림 및 동화상 등이 포함됨)방식 등으로 연결된 경우, 전자를 연결 몰(웹사이트)이라고 하고 후자를 피연결 몰(웹사이트)이라고 합니다. </li>
                                <li>② 연결 몰은 피연결 몰이 독자적으로 제공하는 상품 등에 의하여 이용자와 행하는 거래에 대해서 보증책임을 지지 않습니다. </li>
                            </ol>
                        </li>

                        <li>
                            <strong>제20조(저작권의 귀속 및 이용제한)</strong>
                            <ol>
                                <li>① FOREVER 21 쇼핑몰이 작성한 저작물에 대한 저작권 기타 지적재산권은 FOREVER 21 쇼핑몰에 귀속합니다.</li>
                                <li>② 이용자는 FOREVER 21 쇼핑몰을 이용함으로써 얻은 정보 중 FOREVER 21 쇼핑몰에게 지적재산권이 귀속된 정보를 FOREVER 21 쇼핑몰의 사전 승낙없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다. </li>
                            </ol>
                        </li>

                        <li>
                            <strong>제21조(분쟁해결)</strong>
                            <ol>
                                <li>① FOREVER 21 쇼핑몰은 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치 운영합니다.</li>
                                <li>② FOREVER 21 쇼핑몰은 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.</li>
                                <li>③ FOREVER 21 쇼핑몰과 이용자간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시/도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.</li>
                            </ol>
                        </li>

                        <li>
                            <strong>제22조(재판권 및 준거법)</strong>
                            <ol>
                                <li>FOREVER 21 쇼핑몰과 이용자간에 발생한 전자상거래 분쟁에 관한 소송은 제소 당시의 이용자의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다. </li>
                            </ol>
                        </li>
                        <li>
                            <strong>제23조(포인트)</strong>
                            <ol>
                                <li>
                                    ① 포인트의 정의 및 사용
                                    <div>
                                        - FOREVER 21 쇼핑몰 포인트는 "적립 포인트", "적립 예정 포인트", "소멸 예정 포인트"로 구분되고, 적립 포인트는 상품 구매시 즉시 사용할 수 있지만 적립 예정 포인트는 주문 취소/반품 기간이 만료되어 최종 구매가 확정된 시점인 적립일 기준 만7일 이후부터 사용 가능합니다.<br>
                                        - 포인트는 적립 기준일로부터 1년동안 유효하며, 기간 내 미사용시 매일 자동 소멸됩니다.
                                    </div>
                                </li>
                                <li>
                                    ② 포인트의 적립<br>
                                    FOREVER 21 쇼핑몰은 포인트 부여를 안내한 상품을 구입한 회원이나 해당 이벤트 당첨 회원 등에게 안내한 방식으로 포인트를 적립해 드립니다.
                                </li>

                                <li>
                                    FOREVER 21 쇼핑몰은 상품에 따라 구매하실 때 포인트를 적립해 드립니다.
                                    <div>
                                        - 상품별 구매가의 일정%가 포인트로 지급되며, 각 상품의 포인트는 상품정보 페이지에서 확인하실 수 있습니다.<br>
                                        - 포인트는 회원님께서 상품을 주문하시고 FOREVER 21 쇼핑몰측에서 결제가 확인되는 시점에 바로 적립됩니다.<br>
                                        - 포인트는 10 Point 이상인 경우 현금이나 카드와 함께, 또는 단독으로 사용하실 수 있습니다.<br>
                                        - 포인트 내역에 이상이 있을시는 고객센터로 연락을 주시면 확인후 신속하게 처리 해드리겠습니다.<br>
                                        (단, 사전고지품목은 적립금 적용 대상에서 제외될 수 있고, 할인쿠폰 사용 등 부가적인 할인혜택을 받을 경우에는 해당 상품의 적립금을 부여하지 않을 수 있습니다.)
                                    </div>
                                </li>

                                <li>③ 포인트는 FOREVER 21 쇼핑몰의 회원에 한하여 유효하고 회원탈퇴시에는 사용기간에 관계없이 모두 소멸됩니다. 재가입시에도 포인트는 환원되지 않습니다.</li>
                                <li>④ 부여된 포인트는 적립일로부터 1년간 관리되며,  1년이 경과된  미사용 포인트는 매일 자동 소멸됩니다.</li>
                                <li>⑤ 온라인 포인트는 타인에게 양도될 수 없으며 매장에서 사용하실 수 없습니다.</li>
                            </ol>
                        </li>
                    </ol>
                </div>


            </div>
        </div>
    </div>

</div>