<div id="content">
    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>
                <b>Contact Us</b>
            </h1>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <p>
                    <strong>온라인 고객센터</strong>
                    <ul>
                        <li>
                            <b>대표전화 /</b><span> 1644-0210</span>
                        </li>
                        <li>
                            <b>FAX / </b><span>02-2135-2122</span>
                        </li>
                        <li>
                            <b>영업시간 / </b><span>평일 9:00~18:00</span>
                            <span>토,일,공휴일은 휴무로 1:1문의 남겨주시면 업무일에 확인하여 답변 드리겠습니다.</span>
                        </li>
                        <li>
                            <b>E-mail /</b><span> info@forever21.com</span>
                        </li>
                    </ul>
                </p>
                <br />
                <p>
                    <strong>NEW & EVENT</strong>
                    <br />
                    고객님께 전달드려야 할 중요한 내용은 메인 페이지 > NEWS & EVENT 메뉴에 수시로 업데이트 됩니다. 세일/프로모션 등 특별 이벤트 외에도 시스템 유지 보수/ 서비스의 변경 등을 알려 드리오니 사이트 이용에 참조해 주세요
                </p>
                <p>
                    <strong>각 점포에 문의</strong>
                    <br />
                    FOREVER 21 KOREA 온라인 고객센터에서는 일반적인 브랜드 방침 및 웹 스토어 이용에 관련한 내용을 주로 안내해 드리고 있습니다. 운영 시간 및 쇼핑 정보는 점별로 상이할 수 있으니, 각 점포에 직접 문의 주세요.
                    <a href="javascript:void(0);">매장안내 바로가기</a>
                </p>
            </div>
        </div>
    </div>

</div>